.detailview-content{
    display: flex;
    background-color: rgb(68, 45, 45);
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;

}
.blogview{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blogview .image{
    height: 200px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogview .image img{
    width: 100%;
    object-fit: contain;
}
.comment{
    background-color: white;
}